{% extends 'base.html' %}

{% block title %}Checkout{% endblock %}

{% block content %}
<div class="card shadow-custom border-0 col-lg-7 mx-auto mb-3 mt-5">
  <h3 class="py-2 font-weight-bold text-grey text-center">
    Delivery information:
  </h3>

  <form method="post" id="payment-form">  
    {% csrf_token %}
    <div class="row">
      <div class="col-md-6">
        <div class="input-field">
          <label class="text-muted">First name</label>
          {{ order_form.first_name }}
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-field">
          <label class="text-muted">Last name</label>
          {{ order_form.last_name }}
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-field">
          <label class="text-muted">Email</label>
          {{ order_form.email }}
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-field">
          <label class="text-muted">Phone number</label>
          {{ order_form.mobile }}
        </div>
      </div>
    </div>
    <hr class="mt-0">
    <div class="row">
      <div class="col-md-6">
        <div class="input-field">
          <label class="text-muted">Address</label>
          {{ order_form.address }}
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-field">
          <label class="text-muted">Postal code</label>
          {{ order_form.postal_code }}
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-field mb-0">
          <label class="text-muted">City</label>
          {{ order_form.city }}
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-field mb-0">
          <label class="text-muted">Country</label>
          {{ order_form.country }}
        </div>
      </div>
    </div>
    {% if not request.user.is_authenticated %}
      <div class="mt-2 text-center">
        Already registered? 
        <a href="{% url 'login' %}"
          class="text-decoration-none">
          Log in
        </a>   
      </div>  
    {% endif %}
    <hr>
  <div class="col-lg-7 mx-auto mb-3">
    <div class="row justify-content-center">
      <div class="col-lg-12 px-0">
        <div class="btn-group d-flex">
          <button type="submit" class="btn btn-danger shadow-custom col mx-2">
            Make Payment
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
</div>
{% endblock content %}