{% extends 'base.html' %}

{% block title %}Log in{% endblock %}

{% block content %}

<!-- Display Messages -->
<div class="mt-5">
  {% if messages %}
    {% for message in messages %}
      {% if message.level == 40 %}
        <div
          class="shadow-custom messages alert alert-danger col-lg-5 mx-auto text-center"
        >
      {% else %}
        <div
          class="shadow-custom messages alert alert-success col-lg-5 mx-auto text-center"
        >
      {% endif %}
        {{ message }}
        <a href="" class="close">x</a>
      </div>
    {% endfor %}
  {% endif %}
</div>

<!-- Main Content -->
<div>

  <!-- Login Card -->
  <div class="card blur-box border-1 px-3 col-lg-4 mx-auto my-auto mb-3 middle-earth" style="max-width: 350px">
    <h3 class="py-2 font-weight-bold text-white text-center">Log in</h3>
    <form action="" method="post">
      {% csrf_token %}
      <div class="input-field">
        <label for="email">Email</label>
        {{ form.email }}
      </div>
      <div class="input-field">
        <label for="password">Password</label>
        {{ form.password }}
      </div>
      <button class="btn btn-block btn-danger my-3" type="submit">
        Log in
      </button>
    </form>
    
  </div>
</div>
{% endblock %}